<!DOCTYPE html>
{% load django_popup_view_field_tags %}

<html>
    <head>
        
        <!-- Bootstrap CSS should be here -->
        
    </head>

    <body>
       
        <!-- jQuery script should be here -->
        <!-- Bootstrap javascripts should be here -->
        <ul>
            <li data-popup-view-value="red" style="background:red;"> red hat </li>
            <li data-popup-view-value="blue" style="background:blue;"> blue sky </li>
            <li data-popup-view-value="green" style="background:green;"> green planet </li>
            <li data-popup-view-value="pink" style="background:pink;"> pink car </li>
        </ul>
        {% django_popup_view_field_javascript %}
    </body>
</html>